<div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Starship Calc</h1>
</div>
<div class="flex-center flex-column">
    <div class="form-group">
        <label>Please enter the MGLT to Calc</label>
        <input class="form-control" type="number" [(ngModel)]="mglt" (keyup)="calculate($event)" />
    </div>
</div>
<div class="flex-center flex-column">
    <button type="button" class="btn btn-primary" (click)="calculate()">Calculate</button>
</div>
<div *ngIf="starshipsCalcList && starshipsCalcList.length > 0" class="flex-center flex-column table-style">
    <div class="table-responsive">
        <table mdbTable hover="true" small="true" class="z-depth-1">
            <thead>
                <tr>
                    <th scope="col" (click)="sortBy('name')">
                        Starship
                        <mdb-icon fas icon="sort"></mdb-icon>
                    </th>
                    <th scope="col" (click)="sortBy('stops')">
                        Stops
                        <mdb-icon fas icon="sort"></mdb-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let starshipCalc of starshipsCalcList">
                    <td>
                        {{starshipCalc.name}}
                    </td>
                    <td>
                        {{starshipCalc.stops}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>