<div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Starship Calc</h1>
</div>
<form [formGroup]="validationForm">
    <div class="flex-center flex-column">
        <div class="md-form">
            <i class="fa fa-space-shuttle prefix"></i>
            <input id="mgltInput" style="color: #fff !important" mdbInput mdbValidate formControlName="mgltCtrl" (keyup)="calculate($event)" min="1"
                type="number" class="form-control">
            <label for="mgltInput">Please enter the MGLT</label>
            <mdb-error *ngIf="mgltCtrl.invalid && (mgltCtrl.dirty || mgltCtrl.touched)">
                <div *ngIf="mgltCtrl.errors.min">
                    MGLT less then 0
                </div>
                <div *ngIf="mgltCtrl.errors.required">
                    MGLT required
                </div>
            </mdb-error>
        </div>
    </div>
    <div class="flex-center flex-column">
        <button mdbBtn color="primary" mdbWavesEffect (click)="calculate()" [disabled]="mgltCtrl.invalid">Calculate</button>
    </div>
</form>
<div *ngIf="starshipsCalcList && starshipsCalcList.length > 0" class="flex-center flex-column table-style">
    <div class="table-responsive">
        <table mdbTable hover="true" small="true" class="z-depth-1">
            <thead>
                <tr>
                    <th scope="col" (click)="sortBy('name')">
                        Starship
                        <mdb-icon fas icon="sort"></mdb-icon>
                    </th>
                    <th scope="col" (click)="sortBy('stops')">
                        Stops
                        <mdb-icon fas icon="sort"></mdb-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let starshipCalc of starshipsCalcList">
                    <td>
                        {{starshipCalc.name}}
                    </td>
                    <td>
                        {{starshipCalc.stops}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>